@import "~@flaticon/flaticon-uicons/css/all/all";

.App {
  text-align: center;
}

.batt-monitor{
  width: 50px;
  height: 50px;
}

.visualizer-wrapper{
  width: 100vw;
  height: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -10px;
  div:nth-child(1){
    height: 50%
  }
}

.adv-motor-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(16deg, black, #6a1212);
    color: white;
    text-shadow: 0.1px 0.1px 5px white;
}

.chart-wrapper{
  height: 100% !important;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .VictoryContainer{
    height: 100%;
    width: 17%;
    user-select: none;
    pointer-events: none;
    touch-action: none;
    position: relative;
  }
}

.patterns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
  z-index: 5000;
}

.motor-slider{
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageOverlay{
  height: 100vh;
  width: 100%;
  background-color: rgb(0 0 0 / 62%);
  position: absolute;
  top: 0px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.arrow {
  clip-path: polygon(25% 72%, 25% 6%, 75% 5%, 76% 72%, 100% 72%, 50% 100%, 0 72%);
  width: 100px;
  height: 100px;
  z-index: 12;
  background: repeating-linear-gradient(#292929, #d60b0b 154px);
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  p{
      width: 30px;
      text-align: center;
      color: white;
  }
}

#topButton{

  &:hover {
      cursor: pointer;
      fill: #8197b4;
  }
}

.cylinder {
  margin: 40px;
  svg {
      zoom: 1;
      overflow: visible;
      border-radius: 57px;
      box-shadow: #ff000082 1px -1px 20px 13px;
  }
    }
